.projectsContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(180deg, #7510F7 50%, #ffffff 50%);

}

.carouselContainer{
    margin-left: 17.5%;
    background-color: #fff;
    width: 65%;
    border-radius: 12px;
    box-shadow:0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02)
}

.subtitle{
    margin: 50px;
}

@media screen and (max-width: 1000px){
.carouselContainer{
    margin-left: 7.5%;
    width: 85%;
}
}

@media screen and (max-width: 800px){
.carouselContainer{
    margin-left: 2.5%;
    width: 95%;
}
}