
.modalBG{
  width:max-content;
  height: 500px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  grid-template-columns: 1fr 1fr;
  position:absolute;
  left: 0;
  right: 0;
  z-index: 50;
  border-radius: 10px;
}


@media screen and (max-width: 1500px){
.skill{
  margin-left: 20%;
  margin-right: 20%;
}
}

@media screen and (max-width: 1200px){
.skill{
  margin-left: 15%;
  margin-right: 15%;
}
}

