@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 5%;
}

.navItems{
    width: 100%;

}
.navItem1{
   padding: 30px;
    float: right;

}
.navItem2{
    margin-top: 30px;
    float: right;

}

a{
    color: #7510F7;
}


.logo{
    padding: 20px;

}
.button.is-primary.is-outlined{
    background-color: transparent;
    border-color: #7510F7;
    color: #7510F7;
}

.button.is-primary.is-outlined:hover{
    background-color: #7510F7;
    border-color: transparent;
    color: white;
}

@media screen and (max-width: 450px){
.logo{
    display: none;
}
}